.bg-infoFooter{
    background-color: midnightblue !important;
    border: 1px inset white;
}


footer .nav-link:hover{
    color: orange !important;
}
footer .nav-item{
	font-size: 120%;
	color: orange !important;
}