#ranking {
    margin-bottom: 0;
    cellspacing:0px;
    width:100%;
}

.th-color {
    color: rgb(255,165,0);
}

.td-color {
    color: rgb(207,204,204);
}

.size-div-preview {
    height: 400px;
    width: 100%;
}

#firstRow{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.background-color-orange{
    background-color: rgb(255,165,0) !important;
}

.color-orange{
    color: rgb(255,165,0) !important;
}

.label-game-info{
    font-size: 20px;
    color: rgb(207,204,204);
    font-weight: bold;
}

#richiediAssistenza{
    font-size: 18px;
    margin-top: 2%;
}

#secondRow{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

#pCategory{
    font-size: 20px;
    color: rgb(207,204,204);
}

#prezzo{
    color: rgb(207,204,204);
    size: 40px;
    padding-top: 5%;
    font-weight: bold;
}

#giàAcquistato{
    display: inline-block;
    margin-left:6%;
    margin-top:1%;
}

#btnLogin2{
    color: white;
    margin-left: 30%;
    width: 34%;
    text-align: center;
    margin-top: 1.5%;
}

#thirdRow{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
}

#divReviews{
    background-color: rgb(26,26,78);
    padding-left:2%;
}

.p-review{
    font-size: 20px;
    color: rgb(207,204,204);
}

#fourthRow{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
}