.td-form {
    max-width: 750px;
    margin: 1em auto 1em;
}

.td-form-wrapper {
    border-radius: 10px;
    margin: 1em 0 1em;
    border: solid 1px rgba(255,255,255,0.65);
    background-color: rgba(255,255,255,0.65) !important;
}

.td-form .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.69),0 0 10px rgba(206,222,209,0.69);
}

.td-form .btn:not(:disabled):not(.disabled) {
    margin: 1.8em 0 .8em;
}

.td-form .form-control {
    padding-left: 1.8em;
}

.td-form .icon.align-self-center {
    left: 1.5em;
    position: relative;
}

.td-form label {
    margin-left: 1em;
}

html {
    background-color: rgba(255,255,255,0);
}
body {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(32,74,135,1) 92%, rgba(32,74,135,1) 100%);
}
.divSinistra {
    width: 50%;
    margin-top: 5%;
}
.divSinistra h3 {
    font-family: Actor, sans-serif;
    margin-top: 10%;
    font-style: italic;
    font-weight: bold;
}
.divSinistra p {
    font-family: Actor, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

.divDestra{
    width: 50%;
    margin-top: 5%;
}
.divDestra section{
    color: rgb(0,0,0);
    background-color: rgba(255,255,255,0) !important;
}
.divDestra form{
    color: #000000;
}
.divDestra input{
    background-color: rgba(255,255,255,0.65) !important;
    color: rgb(0,0,0) !important;
    font-family: Andada, serif;
}
.divDestra span{
    background-color: rgb(255,165,0);
}
.divDestra textarea{
    background-color: rgba(255,255,255,0.65) !important;
    color: rgb(0,0,0) !important;
    font-family: Andada, serif;
}
.divDestra i{
    color: rgb(0,0,0);
}
header{
    clear: both;
}
footer{
    clear: both;
}