.image-game{
    width: 100%;
    height: 100%;
}
.color-arrow{
    color:rgb(255,165,0);
}

.bestSellers-size-img{
    width: 20%;
    height: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.bestSellers-size-item{
    width: 100%;
    height: 100%;
}

.bestSellers-size-slide{
    height: 434px;
}

.bestSellers-size-inner{
    height: 100%;
}

.category-games-container-fluid-size{
    height: 350px;
}

.category-games-inner-size{
    height: 93%;
}

.category-games-multi-item-size{
    height: 100%;
}

.category-games{
    background-color: rgb(26,26,78);
    margin: 2% 2% 2% 2%;
}

.category-games-item{
    height: 100%;
}

.category-games-row{
    height: 92%;
}

.image-game-div{
    height: 100%;
}

body{
    background-color: #284c67 !important;
}
h1{
    color: rgb(255,165,0);
}
h2{
    padding-left: 3%;
    color: rgb(255,165,0);
}