.forgotPassword{
    padding: 11% 11%;
}

.form-input{
    width: 50%;
    height: auto;
    border: 1px solid #ebebeb;
    border-radius: 5%;
    padding: 4% 5%;
    color: black;
}

.form-submit{
    width: 30%;
    border-radius: 5%;
    padding: 4% 5%;
    font-weight: normal;
    color: white;
    border: none;
    background-color: orange;
}